*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

.container{
    width: 1153px;
    margin: 0 auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* navbar */

nav{
    padding: 30px 0;
    background: #F5F7FA;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item ul{
    display: flex;
    gap: 50px;
}

.nav-item ul li a{
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.login-wrapper{
    display: flex;
    align-items: center;
    gap: 34px;
}

.login-wrapper a{
    font-size: 14px;
    font-weight: 500;
    color: #4CAF4F;
}

.login-wrapper button{
    padding: 10px 20px;
    background: #4CAF4F;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* banner */

#banner{
    background: #F5F7FA;
    padding: 162px 0;
}
.banner-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content h1{
    font-size: 64px;
    font-weight: 600;
    color: #000;
}
.banner-content h1 span{
    color: #4CAF4F;
}
.banner-content p{
    font-size: 16px;
    color: #717171;
    margin: 16px 0 32px;
}
.banner-content button{
    padding: 14px 32px;
    background: #4CAF4F;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* clients */
#clients{
    margin-top: 40px;
}
.cilent-content{
    text-align: center;
}
.cilent-content h2{
    font-size: 36px;
    font-weight: 600;
}
.cilent-content p{
    font-size: 16px;
    color: #717171;
    margin: 10px 0 40px;
}
.client-logos img{
    margin-right: 128px;
}
.client-logos img:last-child{
    margin-right: 0;
}

/* community */

#community{
    margin-top: 60px;
}
.community-content{
    text-align: center;
}
.community-content h2{
    font-size: 36px;
    font-weight: 600;
    width: 542px;
    margin: 0 auto;
}
.community-content p{
    font-size: 16px;
    color: #717171;
    margin: 10px 0 40px;
}

.community-cards{
    display: flex;
    justify-content: space-between;
}

.community-cards .card{
    width: 299px;
    padding: 24px 30px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.community-cards .card h3{
    font-size: 28px;
    margin: 16px 0 10px;
}
.community-cards .card p{
    font-size: 14px;
    color: #717171;
}

/* unlock */

#unlock{
    padding: 83px 0;
    margin-top: 42px;
}
.unlock-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.unlock-content{
    width: 601px;
} 
.unlock-content h2{
    font-size: 36px;
    font-weight: 600;
} 
.unlock-content p{
    font-size: 14px;
    color: #717171;
    margin: 16px 0 32px;
}

.unlock-content button{
    padding: 14px 32px;
    background: #4CAF4F;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* achievements */

#achievements{
    margin-top: 48px;
    padding: 64px;
    background: #F5F7FA;
}
.achievements-icons{
    display: grid;
    grid-template-columns: repeat(2, 255px);
    column-gap: 25px;
    row-gap: 45px;
}
.achievements-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.achievements-content{
    width: 420px;
}
.achievements-content h2{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 8px;
}
.achievements-content h2 span{
    color: #4CAF4F;
}
.achievements-content p{
    font-size: 16px;
}

.icon-wrapper{
    display: flex;
    gap: 16px;
}
.icon-details h3{
    font-size: 28px;
}

.icon-details p{
    font-size: 16px;
    color: #717171;
}