*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

.container{
    width: 1153px;
    margin: 0 auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* navbar */

nav{
    padding: 30px 0;
    background: #F5F7FA;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item ul{
    display: flex;
    gap: 50px;
}

.nav-item ul li a{
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.login-wrapper{
    display: flex;
    align-items: center;
    gap: 34px;
}

.login-wrapper a{
    font-size: 14px;
    font-weight: 500;
    color: #4CAF4F;
}

.login-wrapper button{
    padding: 10px 20px;
    background: #4CAF4F;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* banner */

#banner{
    background: #F5F7FA;
    padding: 162px 0;
}
.banner-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    width: 656px;
}

.banner-content h1{
    font-size: 64px;
    font-weight: 600;
    color: #000;
}
.banner-content h1 span{
    color: #4CAF4F;
}
.banner-content p{
    font-size: 16px;
    color: #717171;
    margin: 16px 0 32px;
}
.banner-content button{
    padding: 14px 32px;
    background: #4CAF4F;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* clients */
#clients{
    margin-top: 40px;
}
.cilent-content{
    text-align: center;
}
.cilent-content h2{
    font-size: 36px;
    font-weight: 600;
}
.cilent-content p{
    font-size: 16px;
    color: #717171;
    margin: 10px 0 40px;
}
.client-logos img{
    margin-right: 128px;
}
.client-logos img:last-child{
    margin-right: 0;
}

/* community */

#community{
    margin-top: 60px;
}
.community-content{
    text-align: center;
}
.community-content h2{
    font-size: 36px;
    font-weight: 600;
    width: 542px;
    margin: 0 auto;
}
.community-content p{
    font-size: 16px;
    color: #717171;
    margin: 10px 0 40px;
}

.community-cards{
    display: flex;
    justify-content: space-between;
}

.community-cards .card{
    width: 299px;
    padding: 24px 30px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(171, 190, 209, 0.2);
}
.community-cards .card h3{
    font-size: 28px;
    margin: 16px 0 10px;
}
.community-cards .card p{
    font-size: 14px;
    color: #717171;
}

/* unlock */

#unlock{
    padding: 83px 0;
    margin-top: 42px;
}
.unlock-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.unlock-content{
    width: 601px;
} 
.unlock-content h2{
    font-size: 36px;
    font-weight: 600;
} 
.unlock-content p{
    font-size: 14px;
    color: #717171;
    margin: 16px 0 32px;
}

.unlock-content button{
    padding: 14px 32px;
    background: #4CAF4F;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* achievements */

#achievements{
    margin-top: 48px;
    padding: 64px;
    background: #F5F7FA;
}
.achievements-icons{
    display: grid;
    grid-template-columns: repeat(2, 255px);
    column-gap: 25px;
    row-gap: 45px;
}
.achievements-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.achievements-content{
    width: 420px;
}
.achievements-content h2{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 8px;
}
.achievements-content h2 span{
    color: #4CAF4F;
}
.achievements-content p{
    font-size: 16px;
}

.icon-wrapper{
    display: flex;
    gap: 16px;
}
.icon-details h3{
    font-size: 28px;
}

.icon-details p{
    font-size: 16px;
    color: #717171;
}

/* calendar */

#calendar{
    padding: 63px 0;
    margin-top: 48px;
}

/* customer */

#customer{
    margin-top: 48px;
    background: #F5F7FA;
    padding: 33px 0;
}

.customer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customer-content{
    width: 748px;
}
.customer-content .description{
    font-size: 16px;
    font-weight: 500;
    color:#717171;
}
.customer-content h4{
    font-size: 20px;
    font-weight: 600;
    color:#4CAF4F;
    margin: 16px 0 8px;
}
.customer-content .designation{
    font-size: 16px;
    color:#89939E;
    margin-bottom: 32px;
}


.customer-logos{
    display: flex;
    gap: 38px;
}
.customer-logos a{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: 600;
    color: #4CAF4F;
}

/* updates */
#updates{
    margin-top: 48px;
}
.updates-content{
    text-align: center;
    width: 628px;
    margin: 0 auto;
}

.updates-content h2{
    font-size: 36px;
    font-weight: 600;
}

.updates-content p{
    font-size: 16px;
    color: #717171;
    margin: 8px 0 16px;
}

.updates-cards{
    display: flex;
    justify-content: space-between;
}

.updates-cards .update-card{
    width: 368px;
    position: relative;
    z-index: 0;
}

.update-card .card-content{
    position: absolute;
    top: 190px;
    left: 27px;
    z-index: 1;
    width: 317px;
    padding: 30px 16px;
    text-align: center;
    background: #F5F7FA;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(171, 190, 209, 0.4);
}

.update-card .card-content h4{
    font-size: 20px;
    font-weight: 600;
    color: #717171;
    line-height: 28px;
}
.update-card .card-content a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 20px;
    font-weight: 600;
    color: #4CAF4F;
    margin-top: 16px ;
}

/* demo */

#demo{
    padding: 32px 0;
    background: #F5F7FA;
    margin-top: 170px;
}
#demo .demo-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 887px;
    margin: 0 auto;
}
.demo-parent{
    text-align: center;
}

#demo h2{
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 32px;
}

#demo button{
    padding: 16px 32px;
    background: #4CAF4F;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 11px;
}

/* footer */
footer{
    background: #263238;
    padding: 64px 0 75px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.footer-left{
    width: 25%;
}
.footer-left .footer-logo{
    margin-bottom: 40px;
}
.footer-left .copy p{
    font-size: 14px;
    color: #fff;
}
.footer-left .copy p:last-child{
    margin-top: 8px;
}
.footer-left .social-icons{
    margin-top: 40px;
}
.footer-left .social-icons a{
    margin-right: 16px;
}
.footer-right{
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.footer-right h5{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 24px;
}
.footer-right li{
    margin-top: 12px;
}

.footer-right a{
    font-size: 14px;
    color: #F5F7FA;
}

.footer-right .mail-input input{
    padding: 11px 117px 11px 12px;
    background: #515B60;
    border: none;
    border-radius: 8px;
    color: #fff;
    width: 255px;
}

.footer-right .mail-input input::placeholder{
    color: #D9DBE1;
}
.footer-right .mail-input{
    position: relative;
}
.footer-right .mail-content img{
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
}